--
-- PostgreSQL database dump
--

\restrict i1dYlqVWR0DmxJlpZyHNxHBoWmPUS1xA6rMrv5mCqx6aE3DR71IPuQ8UqAdfhpZ

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AttemptStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AttemptStatus" AS ENUM (
    'IN_PROGRESS',
    'SUBMITTED'
);


ALTER TYPE public."AttemptStatus" OWNER TO postgres;

--
-- Name: BillingInterval; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BillingInterval" AS ENUM (
    'ONE_TIME',
    'MONTHLY',
    'YEARLY'
);


ALTER TYPE public."BillingInterval" OWNER TO postgres;

--
-- Name: CfaLevel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CfaLevel" AS ENUM (
    'NONE',
    'LEVEL1',
    'LEVEL2',
    'LEVEL3'
);


ALTER TYPE public."CfaLevel" OWNER TO postgres;

--
-- Name: Difficulty; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Difficulty" AS ENUM (
    'EASY',
    'MEDIUM',
    'HARD'
);


ALTER TYPE public."Difficulty" OWNER TO postgres;

--
-- Name: EnrollmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EnrollmentStatus" AS ENUM (
    'IN_PROGRESS',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."EnrollmentStatus" OWNER TO postgres;

--
-- Name: MaterialKind; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MaterialKind" AS ENUM (
    'LINK',
    'PDF',
    'VIDEO',
    'IMAGE',
    'HTML'
);


ALTER TYPE public."MaterialKind" OWNER TO postgres;

--
-- Name: Provider; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Provider" AS ENUM (
    'FLUTTERWAVE',
    'PAYFAST',
    'STRIPE'
);


ALTER TYPE public."Provider" OWNER TO postgres;

--
-- Name: QuestionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestionType" AS ENUM (
    'MCQ',
    'VIGNETTE_MCQ',
    'CONSTRUCTED_RESPONSE'
);


ALTER TYPE public."QuestionType" OWNER TO postgres;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'PAST_DUE',
    'CANCELED',
    'INCOMPLETE'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'STUDENT',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    name text NOT NULL,
    level public."CfaLevel" NOT NULL,
    description text,
    "durationHours" integer,
    "priceCents" integer,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Course" OWNER TO postgres;

--
-- Name: CourseProduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseProduct" (
    "courseId" text NOT NULL,
    "productId" text NOT NULL
);


ALTER TABLE public."CourseProduct" OWNER TO postgres;

--
-- Name: CourseProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseProgress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "courseId" text NOT NULL,
    percent double precision DEFAULT 0 NOT NULL,
    "timeSpentSec" integer DEFAULT 0 NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "lastTopicId" text,
    "lastMaterialId" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CourseProgress" OWNER TO postgres;

--
-- Name: CourseVolume; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseVolume" (
    "courseId" text NOT NULL,
    "volumeId" text NOT NULL,
    "order" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CourseVolume" OWNER TO postgres;

--
-- Name: CustomRole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomRole" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomRole" OWNER TO postgres;

--
-- Name: EmailVerificationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmailVerificationToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EmailVerificationToken" OWNER TO postgres;

--
-- Name: Enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Enrollment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "courseId" text NOT NULL,
    status public."EnrollmentStatus" DEFAULT 'IN_PROGRESS'::public."EnrollmentStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Enrollment" OWNER TO postgres;

--
-- Name: Exam; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Exam" (
    id text NOT NULL,
    name text NOT NULL,
    level public."CfaLevel" NOT NULL,
    "timeLimitMinutes" integer NOT NULL,
    type text,
    "courseId" text,
    "topicId" text,
    active boolean DEFAULT false NOT NULL,
    "startAt" timestamp(3) without time zone,
    "endAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdById" text
);


ALTER TABLE public."Exam" OWNER TO postgres;

--
-- Name: ExamAnswer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamAnswer" (
    id text NOT NULL,
    "attemptId" text NOT NULL,
    "questionId" text NOT NULL,
    "selectedOptionId" text,
    "textAnswer" text,
    "isCorrect" boolean,
    flagged boolean DEFAULT false NOT NULL,
    "timeSpentSec" integer DEFAULT 0 NOT NULL,
    "marksAwarded" integer
);


ALTER TABLE public."ExamAnswer" OWNER TO postgres;

--
-- Name: ExamAttempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamAttempt" (
    id text NOT NULL,
    "examId" text NOT NULL,
    "userId" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    status public."AttemptStatus" DEFAULT 'IN_PROGRESS'::public."AttemptStatus" NOT NULL,
    "timeRemainingSec" integer,
    "scorePercent" double precision
);


ALTER TABLE public."ExamAttempt" OWNER TO postgres;

--
-- Name: ExamQuestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamQuestion" (
    "examId" text NOT NULL,
    "questionId" text NOT NULL,
    "order" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ExamQuestion" OWNER TO postgres;

--
-- Name: LearningMaterial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LearningMaterial" (
    id text NOT NULL,
    "topicId" text NOT NULL,
    kind public."MaterialKind" NOT NULL,
    title text NOT NULL,
    url text,
    "contentHtml" text,
    "imageUrl" text,
    "estimatedSeconds" integer,
    "order" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LearningMaterial" OWNER TO postgres;

--
-- Name: LevelDef; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LevelDef" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "order" integer,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LevelDef" OWNER TO postgres;

--
-- Name: MaterialProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MaterialProgress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "materialId" text NOT NULL,
    kind public."MaterialKind" NOT NULL,
    percent double precision DEFAULT 0 NOT NULL,
    "timeSpentSec" integer DEFAULT 0 NOT NULL,
    "lastPosSec" integer,
    meta jsonb,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "completedAt" timestamp(3) without time zone
);


ALTER TABLE public."MaterialProgress" OWNER TO postgres;

--
-- Name: McqOption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."McqOption" (
    id text NOT NULL,
    "questionId" text NOT NULL,
    text text NOT NULL,
    "isCorrect" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."McqOption" OWNER TO postgres;

--
-- Name: MistakeEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MistakeEntry" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "questionId" text NOT NULL,
    "attemptId" text,
    "answerId" text,
    "wrongOptionId" text,
    "correctOptionId" text,
    retested boolean DEFAULT false NOT NULL,
    "retestedAt" timestamp(3) without time zone,
    "retestedCorrect" boolean,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MistakeEntry" OWNER TO postgres;

--
-- Name: Module; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Module" (
    id text NOT NULL,
    name text NOT NULL,
    level public."CfaLevel" NOT NULL,
    "courseId" text NOT NULL,
    "volumeId" text NOT NULL,
    "order" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Module" OWNER TO postgres;

--
-- Name: PasswordResetToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PasswordResetToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PasswordResetToken" OWNER TO postgres;

--
-- Name: PaymentRecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentRecord" (
    id text NOT NULL,
    "userId" text NOT NULL,
    provider public."Provider" NOT NULL,
    reference text NOT NULL,
    amount integer NOT NULL,
    currency text NOT NULL,
    status text NOT NULL,
    "rawDataJson" jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PaymentRecord" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "priceCents" integer NOT NULL,
    "interval" public."BillingInterval" NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "stripeProductId" text,
    "stripePriceId" text
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Question" (
    id text NOT NULL,
    stem text NOT NULL,
    type public."QuestionType" NOT NULL,
    level public."CfaLevel" NOT NULL,
    difficulty public."Difficulty" NOT NULL,
    "topicId" text NOT NULL,
    "courseId" text,
    "volumeId" text,
    "moduleId" text,
    marks integer DEFAULT 1 NOT NULL,
    "vignetteId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "imageUrl" text,
    "keyFormulas" text,
    los text,
    qid text,
    "workedSolution" text,
    "tracePage" text,
    "traceSection" text,
    "isAiGenerated" boolean DEFAULT false NOT NULL,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    "parentId" text,
    "vignetteText" text
);


ALTER TABLE public."Question" OWNER TO postgres;

--
-- Name: RevisionEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RevisionEntry" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "questionId" text NOT NULL,
    note text,
    priority integer DEFAULT 1 NOT NULL,
    reviewed boolean DEFAULT false NOT NULL,
    "reviewedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RevisionEntry" OWNER TO postgres;

--
-- Name: RevisionSummary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RevisionSummary" (
    id text NOT NULL,
    "topicId" text,
    level public."CfaLevel" NOT NULL,
    title text NOT NULL,
    "contentUrl" text,
    "contentHtml" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RevisionSummary" OWNER TO postgres;

--
-- Name: RolePermission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RolePermission" (
    id text NOT NULL,
    "roleKey" text NOT NULL,
    permission text NOT NULL,
    allowed boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RolePermission" OWNER TO postgres;

--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subscription" (
    id text NOT NULL,
    "userId" text NOT NULL,
    provider public."Provider" NOT NULL,
    plan text,
    "providerReference" text,
    status public."SubscriptionStatus" DEFAULT 'INCOMPLETE'::public."SubscriptionStatus" NOT NULL,
    currency text,
    "currentPeriodEnd" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Subscription" OWNER TO postgres;

--
-- Name: SystemSetting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SystemSetting" (
    id text NOT NULL,
    key text NOT NULL,
    value jsonb,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SystemSetting" OWNER TO postgres;

--
-- Name: Tax; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Tax" (
    id text NOT NULL,
    name text NOT NULL,
    "ratePercent" double precision NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tax" OWNER TO postgres;

--
-- Name: Topic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Topic" (
    id text NOT NULL,
    name text NOT NULL,
    level public."CfaLevel" NOT NULL,
    "courseId" text,
    "order" integer,
    "moduleNumber" integer,
    "moduleId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Topic" OWNER TO postgres;

--
-- Name: TopicProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TopicProgress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "topicId" text NOT NULL,
    percent double precision DEFAULT 0 NOT NULL,
    "timeSpentSec" integer DEFAULT 0 NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "gateSatisfied" boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TopicProgress" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text,
    "lastName" text,
    phone text,
    country text,
    "stripeCustomerId" text,
    role public."UserRole" DEFAULT 'STUDENT'::public."UserRole" NOT NULL,
    level public."CfaLevel" DEFAULT 'LEVEL1'::public."CfaLevel" NOT NULL,
    "customRoleId" text,
    "emailVerifiedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: Video; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Video" (
    id text NOT NULL,
    title text NOT NULL,
    url text NOT NULL,
    "topicId" text,
    level public."CfaLevel" NOT NULL,
    "durationSec" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Video" OWNER TO postgres;

--
-- Name: VideoProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VideoProgress" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "videoId" text NOT NULL,
    "positionSec" integer DEFAULT 0 NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VideoProgress" OWNER TO postgres;

--
-- Name: Vignette; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Vignette" (
    id text NOT NULL,
    text text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Vignette" OWNER TO postgres;

--
-- Name: Volume; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Volume" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    description text
);


ALTER TABLE public."Volume" OWNER TO postgres;

--
-- Name: WeakTopic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WeakTopic" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "topicId" text NOT NULL,
    "wrongCount" integer DEFAULT 0 NOT NULL,
    "totalCount" integer DEFAULT 0 NOT NULL,
    percent double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WeakTopic" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Course" (id, name, level, description, "durationHours", "priceCents", active, "createdAt", "updatedAt") FROM stdin;
cmls1hype0004g9rshicpoozk	CFA I	LEVEL1	Testing CFA	90	\N	t	2026-02-18 13:00:09.84	2026-02-19 13:03:52.13
cmlth4mkt008em6r9xezk347u	CFA II	LEVEL2	Testinf CFA II	90	\N	t	2026-02-19 13:05:27.625	2026-02-19 13:05:27.625
cmlth7223008hm6r9w6zgytyg	CFA III	LEVEL3	Testing CFA III	90	\N	t	2026-02-19 13:07:21.003	2026-02-19 13:07:21.003
\.


--
-- Data for Name: CourseProduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CourseProduct" ("courseId", "productId") FROM stdin;
cmls1hype0004g9rshicpoozk	cmls1hyq90005g9rs7cbx4v9u
cmlth4mkt008em6r9xezk347u	cmlth4mla008fm6r99peo107u
cmlth7223008hm6r9w6zgytyg	cmlth722f008im6r91ifszwm9
\.


--
-- Data for Name: CourseProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CourseProgress" (id, "userId", "courseId", percent, "timeSpentSec", "completedAt", "lastTopicId", "lastMaterialId", "updatedAt") FROM stdin;
cmltcxlbq001e8qwes6uc19ha	cmls0pzg10000u4wggmoqcefp	cmls1hype0004g9rshicpoozk	0	0	\N	\N	\N	2026-02-27 21:16:05.306
cmluy1i19000ggcvxlb1hvb8o	cmlukdksl010xm6r9f5ug23yx	cmls1hype0004g9rshicpoozk	0	0	\N	\N	\N	2026-02-27 21:07:32.884
\.


--
-- Data for Name: CourseVolume; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CustomRole; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomRole" (id, name, description, "createdAt") FROM stdin;
\.


--
-- Data for Name: EmailVerificationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmailVerificationToken" (id, "userId", token, "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Enrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Enrollment" (id, "userId", "courseId", status, "createdAt") FROM stdin;
cmlukdkt6010zm6r9nuw22q8q	cmlukdksl010xm6r9f5ug23yx	cmls1hype0004g9rshicpoozk	COMPLETED	2026-02-20 07:24:10.265
cmml4g63n0003yseq993u4i6e	cmlukdksl010xm6r9f5ug23yx	cmlth4mkt008em6r9xezk347u	COMPLETED	2026-03-10 21:28:04.067
cmml4g63n0004yseqcqnn7zjh	cmlukdksl010xm6r9f5ug23yx	cmlth7223008hm6r9w6zgytyg	COMPLETED	2026-03-10 21:28:04.067
\.


--
-- Data for Name: Exam; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ExamAnswer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ExamAttempt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ExamQuestion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LearningMaterial; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LearningMaterial" (id, "topicId", kind, title, url, "contentHtml", "imageUrl", "estimatedSeconds", "order", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LevelDef; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LevelDef" (id, code, name, "order", active, "createdAt", "updatedAt") FROM stdin;
cmls1fkfb0000g9rsx6niizi5	LEVEL1	Level I	1	t	2026-02-18 12:58:18.022	2026-02-18 12:58:18.022
cmls1g93y0001g9rsdmbe8caj	LEVEL2	Level II	2	t	2026-02-18 12:58:50.014	2026-02-18 12:58:50.014
cmls1gnul0002g9rsoulcw7ya	LEVEL3	Level III	3	t	2026-02-18 12:59:09.117	2026-02-18 12:59:09.117
\.


--
-- Data for Name: MaterialProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: McqOption; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: MistakeEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Module; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PasswordResetToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PasswordResetToken" (id, "userId", token, "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: PaymentRecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaymentRecord" (id, "userId", provider, reference, amount, currency, status, "rawDataJson", "createdAt") FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RevisionEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RevisionEntry" (id, "userId", "questionId", note, priority, reviewed, "reviewedAt", "createdAt", "updatedAt") FROM stdin;
cmmi1e4eg0016l3jlnsoyp3yf	cmlukdksl010xm6r9f5ug23yx	cmmdaaja60006148ugohmlpay	\N	2	f	\N	2026-03-08 17:39:11.146	2026-03-08 17:39:11.146
\.


--
-- Data for Name: RevisionSummary; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RevisionSummary" (id, "topicId", level, title, "contentUrl", "contentHtml", "createdAt") FROM stdin;
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RolePermission" (id, "roleKey", permission, allowed, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subscription" (id, "userId", provider, plan, "providerReference", status, currency, "currentPeriodEnd", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SystemSetting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SystemSetting" (id, key, value, "updatedAt", "createdAt") FROM stdin;
cmmiuhgcp0029v78j6bdbgxi4	openai_api_key	"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"	2026-03-12 08:37:44.749	2026-03-09 07:13:35.485
\.


--
-- Data for Name: Tax; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Tax" (id, name, "ratePercent", active, "isDefault", description, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Topic; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TopicProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TopicProgress" (id, "userId", "topicId", percent, "timeSpentSec", "completedAt", "gateSatisfied", "updatedAt") FROM stdin;
cmlwejv6b000p9cfxiwifg6cp	cmls0pzg10000u4wggmoqcefp	cmlwej5w8000h9cfx3lsa09bh	0	0	\N	f	2026-02-21 14:16:38.328
cmlwept6s002h9cfx4wm43ebq	cmls0pzg10000u4wggmoqcefp	cmltbymnj000l8qwefm2w4gzg	0	0	\N	f	2026-02-21 14:21:15.697
cmlweszx7003p9cfxvu643mv6	cmlukdksl010xm6r9f5ug23yx	cmltbymnj000l8qwefm2w4gzg	0	90	\N	f	2026-02-21 14:58:13.29
cmlwenscf001n9cfxnm7gau48	cmlukdksl010xm6r9f5ug23yx	cmlwej5w8000h9cfx3lsa09bh	0	90	\N	f	2026-02-21 14:58:13.577
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Video; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Video" (id, title, url, "topicId", level, "durationSec", "createdAt") FROM stdin;
\.


--
-- Data for Name: VideoProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VideoProgress" (id, "userId", "videoId", "positionSec", completed, "updatedAt") FROM stdin;
\.


--
-- Data for Name: Vignette; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Volume; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WeakTopic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WeakTopic" (id, "userId", "topicId", "wrongCount", "totalCount", percent, "createdAt", "updatedAt") FROM stdin;
cmmi1e8tb0017l3jli26c8rnq	cmlukdksl010xm6r9f5ug23yx	cmm2i407100gy1rqua3t5z9ot	2	2	0	2026-03-08 17:39:16.891	2026-03-09 06:57:52.955
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: CourseProduct CourseProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseProduct"
    ADD CONSTRAINT "CourseProduct_pkey" PRIMARY KEY ("courseId", "productId");


--
-- Name: CourseProgress CourseProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseProgress"
    ADD CONSTRAINT "CourseProgress_pkey" PRIMARY KEY (id);


--
-- Name: CourseVolume CourseVolume_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseVolume"
    ADD CONSTRAINT "CourseVolume_pkey" PRIMARY KEY ("courseId", "volumeId");


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: CustomRole CustomRole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomRole"
    ADD CONSTRAINT "CustomRole_pkey" PRIMARY KEY (id);


--
-- Name: EmailVerificationToken EmailVerificationToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailVerificationToken"
    ADD CONSTRAINT "EmailVerificationToken_pkey" PRIMARY KEY (id);


--
-- Name: Enrollment Enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_pkey" PRIMARY KEY (id);


--
-- Name: ExamAnswer ExamAnswer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_pkey" PRIMARY KEY (id);


--
-- Name: ExamAttempt ExamAttempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAttempt"
    ADD CONSTRAINT "ExamAttempt_pkey" PRIMARY KEY (id);


--
-- Name: ExamQuestion ExamQuestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamQuestion"
    ADD CONSTRAINT "ExamQuestion_pkey" PRIMARY KEY ("examId", "questionId");


--
-- Name: Exam Exam_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Exam"
    ADD CONSTRAINT "Exam_pkey" PRIMARY KEY (id);


--
-- Name: LearningMaterial LearningMaterial_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LearningMaterial"
    ADD CONSTRAINT "LearningMaterial_pkey" PRIMARY KEY (id);


--
-- Name: LevelDef LevelDef_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LevelDef"
    ADD CONSTRAINT "LevelDef_pkey" PRIMARY KEY (id);


--
-- Name: MaterialProgress MaterialProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MaterialProgress"
    ADD CONSTRAINT "MaterialProgress_pkey" PRIMARY KEY (id);


--
-- Name: McqOption McqOption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."McqOption"
    ADD CONSTRAINT "McqOption_pkey" PRIMARY KEY (id);


--
-- Name: MistakeEntry MistakeEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MistakeEntry"
    ADD CONSTRAINT "MistakeEntry_pkey" PRIMARY KEY (id);


--
-- Name: Module Module_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Module"
    ADD CONSTRAINT "Module_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY (id);


--
-- Name: PaymentRecord PaymentRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentRecord"
    ADD CONSTRAINT "PaymentRecord_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Question Question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_pkey" PRIMARY KEY (id);


--
-- Name: RevisionEntry RevisionEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RevisionEntry"
    ADD CONSTRAINT "RevisionEntry_pkey" PRIMARY KEY (id);


--
-- Name: RevisionSummary RevisionSummary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RevisionSummary"
    ADD CONSTRAINT "RevisionSummary_pkey" PRIMARY KEY (id);


--
-- Name: RolePermission RolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY (id);


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: SystemSetting SystemSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemSetting"
    ADD CONSTRAINT "SystemSetting_pkey" PRIMARY KEY (id);


--
-- Name: Tax Tax_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Tax"
    ADD CONSTRAINT "Tax_pkey" PRIMARY KEY (id);


--
-- Name: TopicProgress TopicProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TopicProgress"
    ADD CONSTRAINT "TopicProgress_pkey" PRIMARY KEY (id);


--
-- Name: Topic Topic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Topic"
    ADD CONSTRAINT "Topic_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VideoProgress VideoProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VideoProgress"
    ADD CONSTRAINT "VideoProgress_pkey" PRIMARY KEY (id);


--
-- Name: Video Video_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Video"
    ADD CONSTRAINT "Video_pkey" PRIMARY KEY (id);


--
-- Name: Vignette Vignette_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vignette"
    ADD CONSTRAINT "Vignette_pkey" PRIMARY KEY (id);


--
-- Name: Volume Volume_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Volume"
    ADD CONSTRAINT "Volume_pkey" PRIMARY KEY (id);


--
-- Name: WeakTopic WeakTopic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WeakTopic"
    ADD CONSTRAINT "WeakTopic_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: CourseProgress_userId_courseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CourseProgress_userId_courseId_key" ON public."CourseProgress" USING btree ("userId", "courseId");


--
-- Name: CourseVolume_courseId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseVolume_courseId_order_idx" ON public."CourseVolume" USING btree ("courseId", "order");


--
-- Name: CourseVolume_volumeId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseVolume_volumeId_idx" ON public."CourseVolume" USING btree ("volumeId");


--
-- Name: CustomRole_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomRole_name_key" ON public."CustomRole" USING btree (name);


--
-- Name: EmailVerificationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmailVerificationToken_token_key" ON public."EmailVerificationToken" USING btree (token);


--
-- Name: EmailVerificationToken_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmailVerificationToken_userId_key" ON public."EmailVerificationToken" USING btree ("userId");


--
-- Name: Enrollment_userId_courseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Enrollment_userId_courseId_key" ON public."Enrollment" USING btree ("userId", "courseId");


--
-- Name: Enrollment_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Enrollment_userId_createdAt_idx" ON public."Enrollment" USING btree ("userId", "createdAt");


--
-- Name: ExamAnswer_attemptId_questionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ExamAnswer_attemptId_questionId_key" ON public."ExamAnswer" USING btree ("attemptId", "questionId");


--
-- Name: ExamQuestion_examId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ExamQuestion_examId_order_idx" ON public."ExamQuestion" USING btree ("examId", "order");


--
-- Name: LearningMaterial_topicId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LearningMaterial_topicId_order_idx" ON public."LearningMaterial" USING btree ("topicId", "order");


--
-- Name: LevelDef_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LevelDef_code_key" ON public."LevelDef" USING btree (code);


--
-- Name: MaterialProgress_userId_materialId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MaterialProgress_userId_materialId_key" ON public."MaterialProgress" USING btree ("userId", "materialId");


--
-- Name: MistakeEntry_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MistakeEntry_userId_createdAt_idx" ON public."MistakeEntry" USING btree ("userId", "createdAt");


--
-- Name: MistakeEntry_userId_questionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MistakeEntry_userId_questionId_key" ON public."MistakeEntry" USING btree ("userId", "questionId");


--
-- Name: MistakeEntry_userId_retested_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MistakeEntry_userId_retested_idx" ON public."MistakeEntry" USING btree ("userId", retested);


--
-- Name: Module_courseId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Module_courseId_order_idx" ON public."Module" USING btree ("courseId", "order");


--
-- Name: Module_volumeId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Module_volumeId_order_idx" ON public."Module" USING btree ("volumeId", "order");


--
-- Name: PasswordResetToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PasswordResetToken_token_key" ON public."PasswordResetToken" USING btree (token);


--
-- Name: PaymentRecord_provider_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentRecord_provider_reference_key" ON public."PaymentRecord" USING btree (provider, reference);


--
-- Name: Question_courseId_difficulty_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Question_courseId_difficulty_idx" ON public."Question" USING btree ("courseId", difficulty);


--
-- Name: Question_moduleId_difficulty_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Question_moduleId_difficulty_idx" ON public."Question" USING btree ("moduleId", difficulty);


--
-- Name: Question_parentId_orderIndex_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Question_parentId_orderIndex_idx" ON public."Question" USING btree ("parentId", "orderIndex");


--
-- Name: Question_topicId_difficulty_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Question_topicId_difficulty_idx" ON public."Question" USING btree ("topicId", difficulty);


--
-- Name: RevisionEntry_userId_priority_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RevisionEntry_userId_priority_idx" ON public."RevisionEntry" USING btree ("userId", priority);


--
-- Name: RevisionEntry_userId_questionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RevisionEntry_userId_questionId_key" ON public."RevisionEntry" USING btree ("userId", "questionId");


--
-- Name: RevisionEntry_userId_reviewed_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RevisionEntry_userId_reviewed_idx" ON public."RevisionEntry" USING btree ("userId", reviewed);


--
-- Name: RolePermission_roleKey_permission_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RolePermission_roleKey_permission_key" ON public."RolePermission" USING btree ("roleKey", permission);


--
-- Name: Subscription_userId_provider_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Subscription_userId_provider_key" ON public."Subscription" USING btree ("userId", provider);


--
-- Name: SystemSetting_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SystemSetting_key_key" ON public."SystemSetting" USING btree (key);


--
-- Name: TopicProgress_userId_topicId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TopicProgress_userId_topicId_key" ON public."TopicProgress" USING btree ("userId", "topicId");


--
-- Name: Topic_moduleId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Topic_moduleId_order_idx" ON public."Topic" USING btree ("moduleId", "order");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VideoProgress_userId_videoId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VideoProgress_userId_videoId_key" ON public."VideoProgress" USING btree ("userId", "videoId");


--
-- Name: WeakTopic_userId_percent_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "WeakTopic_userId_percent_idx" ON public."WeakTopic" USING btree ("userId", percent);


--
-- Name: WeakTopic_userId_topicId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WeakTopic_userId_topicId_key" ON public."WeakTopic" USING btree ("userId", "topicId");


--
-- Name: CourseProduct CourseProduct_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseProduct"
    ADD CONSTRAINT "CourseProduct_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseProduct CourseProduct_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseProduct"
    ADD CONSTRAINT "CourseProduct_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseProgress CourseProgress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseProgress"
    ADD CONSTRAINT "CourseProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CourseVolume CourseVolume_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseVolume"
    ADD CONSTRAINT "CourseVolume_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseVolume CourseVolume_volumeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseVolume"
    ADD CONSTRAINT "CourseVolume_volumeId_fkey" FOREIGN KEY ("volumeId") REFERENCES public."Volume"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EmailVerificationToken EmailVerificationToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailVerificationToken"
    ADD CONSTRAINT "EmailVerificationToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Enrollment Enrollment_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Enrollment Enrollment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ExamAnswer ExamAnswer_attemptId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES public."ExamAttempt"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ExamAnswer ExamAnswer_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public."Question"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ExamAnswer ExamAnswer_selectedOptionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_selectedOptionId_fkey" FOREIGN KEY ("selectedOptionId") REFERENCES public."McqOption"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ExamAttempt ExamAttempt_examId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAttempt"
    ADD CONSTRAINT "ExamAttempt_examId_fkey" FOREIGN KEY ("examId") REFERENCES public."Exam"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ExamAttempt ExamAttempt_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAttempt"
    ADD CONSTRAINT "ExamAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ExamQuestion ExamQuestion_examId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamQuestion"
    ADD CONSTRAINT "ExamQuestion_examId_fkey" FOREIGN KEY ("examId") REFERENCES public."Exam"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamQuestion ExamQuestion_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamQuestion"
    ADD CONSTRAINT "ExamQuestion_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public."Question"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Exam Exam_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Exam"
    ADD CONSTRAINT "Exam_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LearningMaterial LearningMaterial_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LearningMaterial"
    ADD CONSTRAINT "LearningMaterial_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."Topic"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MaterialProgress MaterialProgress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MaterialProgress"
    ADD CONSTRAINT "MaterialProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: McqOption McqOption_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."McqOption"
    ADD CONSTRAINT "McqOption_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public."Question"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Module Module_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Module"
    ADD CONSTRAINT "Module_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Module Module_volumeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Module"
    ADD CONSTRAINT "Module_volumeId_fkey" FOREIGN KEY ("volumeId") REFERENCES public."Volume"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PasswordResetToken PasswordResetToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PaymentRecord PaymentRecord_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentRecord"
    ADD CONSTRAINT "PaymentRecord_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Question Question_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."Question"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Question Question_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."Topic"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Question Question_vignetteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_vignetteId_fkey" FOREIGN KEY ("vignetteId") REFERENCES public."Vignette"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RevisionSummary RevisionSummary_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RevisionSummary"
    ADD CONSTRAINT "RevisionSummary_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."Topic"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Subscription Subscription_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TopicProgress TopicProgress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TopicProgress"
    ADD CONSTRAINT "TopicProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Topic Topic_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Topic"
    ADD CONSTRAINT "Topic_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Topic Topic_moduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Topic"
    ADD CONSTRAINT "Topic_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES public."Module"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_customRoleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_customRoleId_fkey" FOREIGN KEY ("customRoleId") REFERENCES public."CustomRole"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: VideoProgress VideoProgress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VideoProgress"
    ADD CONSTRAINT "VideoProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: VideoProgress VideoProgress_videoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VideoProgress"
    ADD CONSTRAINT "VideoProgress_videoId_fkey" FOREIGN KEY ("videoId") REFERENCES public."Video"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Video Video_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Video"
    ADD CONSTRAINT "Video_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."Topic"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict i1dYlqVWR0DmxJlpZyHNxHBoWmPUS1xA6rMrv5mCqx6aE3DR71IPuQ8UqAdfhpZ

